.addfriend-page {
    margin: 0 auto;
    width: 600px;
  }
  
  .addfriend-page h2 {
    font-size: xx-large;
  }
  
  .addfriend-form {
    display: flex;
    flex-direction: column;
  }
  
  .addfriend-form label {
    text-align: left;
    padding-top: 1rem;
    font-weight: 600;
  }
  
  .addfriend-form input {
    line-height: 3rem;
    background-color: black;
    color: white;
    font-size: x-large;
  }
  
  .addfriend-form button {
    background-color: black;
    color: white;
    font-weight: 600;
    margin-top: 1rem;
    line-height: 3rem;
    font-size: x-large;
    text-transform: uppercase;
  }
  